<html>
  <h1>HELLO</h1><br>
  <a href="/" class="Start" style="padding: 30px; border: 2px solid #111; border-radius: 5px; color: #fff; font-weight: bold; font-size: 20px; background-color: #fed400; font-style: Uppercase;">START GAME</a>
</html>